body {
    padding: 0;
    margin: 0;
    background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
  }
  
  * {
    box-sizing: border-box;
  }
  
  .container {
    max-width: 1200px;
    width: auto;
    margin: 0 auto;
  }
  
  header {
    width: 100%;
    overflow: hidden;
    background-color: #4a76a800; 
  }
  
  nav {
    color: #fff;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  li div i {
    color: #75f891;
    font-size: 1rem;
    padding: 1rem;
    color: #fff;
  }
  
  .track {
    width: auto;
    float: right;
    padding-top: 0.6rem;
  }
  
  .artist {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .duration {
    color: #fff;
    font-size: 1rem;
  }
  
  .progress {
    width: 350px;
    margin-right: 2rem;
    user-select: none;
    padding-top: 0.6rem;
  }
  
  .progressBar {
    height: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #ebebeb;
    display: inline-block;
    border-radius: 25px;
  }
  
  .progressCurrent {
    height: inherit;
    width: 0%;
    background-color: #5e91e9;
    border-radius: 25px;
  }
  
  .progressTime {
    margin-top: 2px;
    color: #f7f7f7;
    font-size: 1rem;
  }
  
  
  #img {
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  
  .trackImg {
    margin-top: 5rem;
    max-width: 350px;
    max-height: 300px;
    width: 100%;
    height: 100%;
  }
  
  
  